@page "/"
@using VirtualAssistant.Shared.Models
@inject IBasketRepositoryService TheBasket

<img src="images/va.PNG" width="200">


<p>Welcome to <strong>Training Development Services!</strong></p>

@if (String.IsNullOrEmpty(NewUser1.FirstName))
{
    @((MarkupString) Helpers.Loader(Constants.LoaderDuration.LoaderShort))

    <div id="message" class="@Constants.MessageDelay.MessageDelayShort" style="display: inline-block">
        <p name="hello">@nameRequest</p>
        <input @bind="NewUser1.FirstName" name="hi1" type="text" placeholder="enter first name" />
    </div>

}
@if (!String.IsNullOrEmpty(NewUser1.FirstName) && (TheBasket.ShowGreeting))
{

    @((MarkupString) Helpers.Loader(Constants.LoaderDuration.LoaderShort))

    <div id="message" class="@Constants.MessageDelay.MessageDelayShort" style="display: inline-block">
        Hi <strong>@NewUser1.FirstName </strong> and welcome! Select the option that best describes your needs.
    </div>
    <hr />
    <MainMenuOptions TheBasket="TheBasket" ActiveUser="NewUser1"></MainMenuOptions>
    TheBasket.ShowGreeting = false;

}
