@using VirtualAssistant.Shared.Models
@using System.Reflection.Metadata
@using System.Security.Cryptography.X509Certificates


@if (DisplayAccreditationStatusButtons && !DisplayAccreditationAssistanceButtons)
{<br /><br />
    <p>
        Ok, let me see how I can assist you with your training material needs.
        Is your company already Accredited as a Training Provider? <br /><br />
        <button class="btn-info" @onclick="@Accredited">Yes</button>
        <button class="btn-info" @onclick="@NotAccredited">No</button>
    </p>
}
@if (DisplayAccreditationAssistanceButtons && !DisplayAccreditationStatusButtons)
{<br /><br />
    <p>
        Ok great!
        Do you require assistance to become Accredited as a Training Provider? <br /><br />
        <button class="btn-info" @onclick="@DoesNeedAccreditationAssistance">Yes</button>
        <button class="btn-info" @onclick="@DoesNotNeedAccreditationAssistance">No</button>
    </p>
}
@if (!DisplayAccreditationAssistanceButtons && !DisplayAccreditationStatusButtons)
{<br /><br />
<p>
    Ok thanks!
    Please select which type of Training Materials do you require from the options below. <br /><br />
    
        <button class="@ButtonStyle(TheBasket.SetaMaterialInterest)" @onclick="SetaMaterialInterest">SETA Qualifications / Units</button>
        <button class="@ButtonStyle(TheBasket.QctoMaterialInterest)" @onclick="QctoMaterialInterest">QCTO Qualifications / Modules</button>
        <button class="@ButtonStyle(TheBasket.OtherMaterialInterest)" @onclick="OtherMaterialInterest">Other Materials</button>
        <button class="@ButtonStyle(TheBasket.ELearningInterest)" @onclick="ELearningInterest">eLearning Materials / System</button>
</p>
}